<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}} | vcpkg Documentation</title>
    <meta name="keywords" content="vcpkg, packages, libraries, C, C++, cpp, Microsoft, library, package manager, library manager, documentation, docs">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- local page style sheet and fonts -->
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.1/build/styles/default.min.css"
          integrity="sha384-s4RLYRjGGbVqKOyMGGwfxUTMOO6D7r2eom7hWZQ6BjK2Df4ZyfzLXEkonSm0KLIQ"
          crossorigin="anonymous"
        />
        <link href="/css/getting-started.css" rel="stylesheet" />

        {{{commonhead}}}

        <!-- bootstrap scripts -->
        <script
          src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.6"
          integrity="sha384-UBGmRyNtwBeGap4zdtKXLwUHdLJM9M/aSMLo8NaIzCxnLxYU6F9+V8veOXP3Fakh"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.1/build/highlight.min.js"
          integrity="sha384-DmE/PJ3PvpXS92Z4Sn7vSRTqJd0T/2xkGtNgm2JaZFczBOZdCf3XbZOwnRHDgjAA"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.1/build/languages/cmake.min.js"
          integrity="sha384-x//ggWQQKDYM6gkxzOdTUJNX9tNhjYBuM1SkQ3kgwzlFH9cxNW2meFXccjs06ubh"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.1/build/languages/powershell.min.js"
          integrity="sha384-+05Cp42tk0QutdpySQ0HsmEskItQQcyh04nmNheHuy1epFAdvUC9kpiwJk9lx419"
          crossorigin="anonymous"
        ></script>
    
        <!-- our scripts -->
        <script src="/dist/documentation.js"></script>
    </head>
    <div id="loadNavBar">{{{navbar}}}</div>
    <div id="banner"></div>
    <div class="page">
    <nav class="left-side">
      <div class="docs-mobile-heading hidden">Table of Contents</div>
      <div class="docs-mobile-exit hidden"><img class="docs-mobile-exit-icon" src="/assets/misc/exit-docs.svg"></div>
      <div class="search-bar">
        <input
                  class="search-box"
                  id="pkg-search"
                  type="search"
                  name="search"
                  placeholder="Search"
                  autocomplete="off"
                  oninput=""
                />
        <ul class="search hidden">
        </ul>
      </div>
      <div id="docsNavPane">{{{docsnav}}}</div>
      <script>
        $("#docsNavPane .collapsable").removeClass("collapsable").addClass("collapse");
        $("#docsNavPane .list-expanded").removeClass("list-expanded").addClass("list-can-expand");
        $(() => {
            setScrollFocus();
            initDocumentation();
        });
      </script>
</nav><main class="right-side" id="main">
<div class="docs-mobile-show"><img class="docs-mobile-show-table" src="/assets/misc/table-docs.svg">Table of Contents</div>
{{{body}}}
</main></div><div id="loadFooter">{{{footer}}}</div></html>
